extends ../layouts/default

block intro
	h1 Resources
	
block content
	h2 Learning to play

	ul
		li: a(href='https://online-go.com/learn-to-play-go') Learn to Play Go &ndash; Online Go Server (OGS)
		li: a(href='http://playgo.to/iwtg/en/') The Interactive Way To Go
		li: a(href='http://www.usgo.org/learn-play') Learn to Play Go &ndash; the American Go Association
		li: a(href='http://senseis.xmp.net/?BasicRulesOfGo') The Basic Rules of Go at Sensei's Library

	h2 Where to play in person

	ul
		li
			p Soon, at the National Go Center!
		li
			a(href='http://users.erols.com/jgoon/gwgcmain.htm') The Greater Washington Go Club
			p The GWGC meets every Friday evening, starting at 8:00 PM, in room 15 of the basement of the Cedar Lane Unitarian Church, 9601 Cedar Lane, Bethesda, MD.

		li
			a(href='http://www.novagoclub.org/') NOVA Go Club
			p The Arlington Club has been meeting every Monday from 7 &ndash; 11 PM for 36 years.

	h2 Where to play online

	ul
		li: a(href='http://www.gokgs.com/') The KGS Go Server
		li: a(href='https://online-go.com') Online Go Server (OGS)
		li: a(href='http://pandanet-igs.com/') Pandanet (IGS)
		li: a(href='http://www.tygemgo.com/') TygemGo
		li: a(href='http://www.wbaduk.com/') WBaduk &ndash; World Baduk Service
		li: a(href='http://www.dragongoserver.net/') Dragon Go Server (DGS)
		
	h2 Go on Youtube
	
	p Go&rsquo;s presence on Youtube has exploded over the last couple years. Here are a few of our favorite accounts:
	
	ul
		li
			a(href='https://www.youtube.com/user/USGOWeb') American Go Association
			p The AGA's official channel.
		li
			a(href='https://www.youtube.com/channel/UCTji1kQNoWIH85dB_Vxka9g') Haylee's World of Go/Baduk &ndash; (Lee Hajin's Channel)
			p High-level Go (baduk) games and commentaries in English. Haylee's live commentaries of her own games are some of the most entertaining and edifying go you can find anywhere.
		li
			a(href='https://www.youtube.com/user/nicksibicky') Nick Sibicky
			p Nick's lectures, many of which are aimed at double-digit kyus, are a great resource for newer players.
		li: a(href='https://www.youtube.com/channel/UCGAASXnrt4FtYfFZ608PqHA') Andrew Jackson
		li: a(href='https://www.youtube.com/channel/UCP7jMXSY2xbc3KCAE0MHQ-A') DeepMind
		li: a(href='https://www.youtube.com/user/wineandgolover1') Brady&rsquo;s Blunders (Brady Daniels)
		li: a(href='https://www.youtube.com/user/dwyrin') Dwyrin
		li: a(href='https://www.youtube.com/channel/UCBQaM2_Og6YXs8EiWfeatWA') Longstride Baduk
		li: a(href='https://www.youtube.com/user/Masterman535/videos') Joshua Lee
		li: a(href='https://www.youtube.com/channel/UCN1eNEYj0X-4qGDPp5n1scw') Yunxuan Li
		li
			a(href='https://www.youtube.com/channel/UCohURdr4oSzrXL49qOQQpwg') Stephen Hu
			p There&rsquo;s nobody with a sense of style quite like Stephen.
		li
			a(href='https://www.youtube.com/channel/UCq9Fa2sPq2oI5jkECRZNoBw') Go Talk
			p Long-form interviews with people in the Go Community.
		
	h2 Go Study

	ul
		li
			a(href='http://ps.waltheri.net/') Waltheri's go pattern search
			p Find positions in pro games to find out how the best players in the world played them.
		li
			a(href='https://gokibitz.com') Go Kibitz
			p Move-by-move conversations about go game records.
		li
			a(href='http://eidogo.com/') EidoGo
			p Web-based SGF viewer and editor.
		li
			a(href='http://josekipedia.com/') Josekipedia
			p Collaborative joseki dictionary.
			
			
	h2 Go Development Resources

	ul
		li: a(href='https://github.com/waltheri/go-libraries') Go Libraries
