body {
	//background: {
	//	attachment: fixed;
	//	image: url('/images/jonathan-hop.jpg');
	//	position: 100% 0;
	//	size: cover;
	//}

	//#body [class*='col-'] {
	//	padding: 10px 25px 15px 25px;
	//}
	
	> .container-fluid {
		padding: 0;
	}
}

.p-absolute {
	position: absolute;
}

.p-static {
	position: static;
}

// Vertical Spacing for Columns with .row-grid
// @see https://coderwall.com/p/0jezca/vertical-spacing-for-bootstrap-columns
.row.row-grid > [class*="col-"] + [class*="col-"] {
	border: 1p solid red;
	margin-top: 15px;
}

/*
@media (min-width: 1200px) {
	.row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
		margin-top: 0;
	}
}
@media (min-width: 992px) {
	.row.row-grid [class*="col-md-"] + [class*="col-md-"] {
		margin-top: 0;
	}
}
@media (min-width: 768px) {
	.row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
		margin-top: 0;
	}
}
*/

// Better-spaced lists for display
.list-display {
	li {
		margin-bottom: 0.5em;
	}
	
	&:last-of-type {
		margin-bottom: 0;
	}
}

#header {
}

.ngc-logo {
	position: relative;
	top: -1px; // the world's imperfections will break your heart
	z-index: 1031; // wat
}

.navbar-fixed-top {
	border: 0;
}

.navbar-brand {
	//outline: 1px solid red;
	padding: {
		top: 8px;
		right: 10px;
		bottom: 0;
		left: 0;
	};
	width: 230px;
	> img {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin: {
			left: 0;
		}
	}
}

.navbar-nav {
	font: {
		family: $headings-font-family;
		weight: 700;
	}
	letter-spacing: 1px;
	text-transform: uppercase;
	@media (min-width: $screen-md-min) {
		//margin-left: -14px;
	}
	
	li > a {
		&:first-child {
			padding-left: 1px;
		}
	}
}

#body {
	padding: {
		top: 40px;
	}
}

#footer {
	p {
		margin-top: 30px;
		padding: {
			top: 30px;
		}
		color: #777777;
	}
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

#sgf-player {
	background: hsl(40, 70%, 65%);
	position: absolute;
	left: -100px;
	right: -100px;
	top: -100px;
}

.feature {
	background: black;
	margin: {
		bottom: 10px;
	}
	padding: {
		bottom: 8px;
	}
	h1, h2, h3, h4, h5 {
		color: white;
		font: {
			weight: 500;
		}
	}
	
	p {
		color: hsl(0, 0%, 100%);
		font: {
			size: 18px;
		}
	}
	
}

.full-background {
	//outline: 10px solid red;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: {
		size: cover;
		position: 50% 45%;
	}
	opacity: 0.7;
}

.what-is-go {
	font: {
		size: 18px;
	}
	
	ul {}
}

.recent-news {
	
	font: {
		size: 18px;
	}
}

.row.is-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}


.primary-content {
	background: hsla(0, 0%, 100%, 0.8);
}

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
