// Override Bootstrap variables in this file, e.g.

@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,400,700);

//$grid-gutter-width: 40px;

$font-size-base: 14px;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family:  Exo, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$brand-secondary: hsl(56, 87%, 45%);
