// Bootstrap
// =========

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);

@import "site/variables";
@import "bootswatch/simplex/variables";
@import "bootstrap/bootstrap";
@import "bootswatch/simplex/bootswatch";

// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
@import "site/sgf-viewer";
